<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Governança</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-2">

   
        <div class="card-cd">

            <h1 class="titulo">Governança</h1>

            <div class="conteudo">

                <p>Informações Institucionais:
                   
                  O Instituto Agronômico de Pernambuco, é vinculado a Secretaria de Desenvolvimento Agrário, Agricultura, Pecuária e Pesca, SDA e como Empresa Pública, é regida desde 2018 pela Lei 13.303, a conhecida Lei das Estatais.<br>
                  Visão:
Ser reconhecida pela sociedade como Empresa Pública de referência nacional pela qualidade da prestação de serviços destinados ao desenvolvimento rural sustentável.<br>
Valores:
A boa gestão e a qualidade das atividades do IPA são pautadas pela aplicação cotidiana de quatro valores, a seguir descritos:
Entidades Vinculadas: Não se aplica.<br>
Fundos Vinculados: O IPA não possui Fundos vinculados à sua atividade.<br>
Missão Institucional:
Gerar e adaptar tecnologia, prestar assistência técnica e extensão rural prioritariamente aos agricultores de base familiar, realizar obras de infra estrutura hídrica e disponibilizar bens e serviços para o desenvolvimento sustentável do agronegócio.<br>
Objetivos:
Elevação das condições de vida da sociedade pernambucana mediante o aproveitamento racional e equilibrado das potencialidades naturais do estado, procurando garantir a continuidade na renovação dos recursos renováveis e buscando assegurar a perenidade do fundo de fertilidade e o equilíbrio dos ecossistemas.<br>


                    O IPA procura atingir, entre outros, os seguintes objetivos:<br>
                    • desenvolver atividades de infraestrutura hídrica para o meio rural, por meio da construção,
                    manutenção e recuperação de barragens e poços;<br>
                    • elevar a produção e a eficiência do setor agropecuário, sem perder de vista as questões da
                    sustentabilidade do empreendimento;<br>
                    • adequar os produtos da agropecuária à apresentação e às características demandadas pelos
                    consumidores finais;<br>
                    • gerar e difundir tecnologias para produtos e sistemas agroindustriais e para processos
                    organizacionais, com vistas ao mercado;<br>
                    • adaptar à realidade de Pernambuco tecnologias geradas em outros estados, regiões ou países;<br>
                    • gerar, promover e aperfeiçoar a transferência de informações científicas e tecnológicas em sua
                    esfera de ação;<br>
                    • atuar em áreas de tecnologia de ponta, visando a promover saltos qualitativos na pesquisa.
                </p>
                
            </div>
                 
                <a href="{{ url_for('login') }}"><button class="button-2"> voltar</button></a>
        </div>
   

</body>
</html>
