<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licitações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-2">

    <section class="pt-container">
        <div class="card-bb">

            <h1 class="titulo">LICITAÇÕES</h1>

            <div class="conteudo">

                <div class="coluna">
                    <h3>PROCESSO LICITATÓRIO Nº 014/2025 –<br>LICITAÇÃO ELETRÔNICA Nº 005/2025</h3>

                    <p><strong>Objeto:</strong><br>
                        Formação de Registro de Preços, visando à seleção da proposta mais vantajosa para possível aquisição de sementes de milho, sorgo, milheto e feijão, para serem distribuídas a pequenos agricultores familiares do Estado de Pernambuco, em conformidade com as especificações técnicas constantes no Termo de Referência (Anexo I).
                    </p>

                    <br>

                    <h3>PROCESSO LICITATÓRIO Nº 007/2025 –<br>LICITAÇÃO ELETRÔNICA Nº 002/2025</h3>

                    <p><strong>Objeto:</strong><br>
                        Formação de Registro de Preços para possível aquisição de veículos automotivos (tipos Hatch, Picape pequena e Caminhonete) destinados a atender necessidades do Instituto Agronômico de Pernambuco – IPA, conforme especificações, obrigações e demais condições estabelecidas no Termo de Referência e Edital e respectivos Anexos.
                    </p>
                </div>

                <div class="coluna">
                    <h3>PROCESSO LICITATÓRIO Nº 010/2025</h3>

                    <p><strong>Objeto:</strong><br>
                        Formação de registro de preços para eventual contratação de prestação de serviços de fornecimento, montagem, manutenção, operacionalização e desmontagem de estruturas físicas temporárias destinadas à realização da II Feira de Negócios da Agricultura Familiar – FENAF, promovida pelo Governo do Estado de Pernambuco, por meio do Instituto Agronômico de Pernambuco – IPA. O evento deverá ocorrer no período de 12 a 14 de setembro de 2025, na sede do IPA, situada na cidade de Recife–PE.
                    </p>

                    <br>

                    <h3>EDITAL 01/2025 – Processo Interno de<br>Transferência Voluntária</h3>

                    <p><strong>Objeto:</strong><br>
                        O presente instrumento define as diretrizes de procedimento interno afim de selecionar e organizar o quadro permanente do IPA com interesse em transferências voluntárias entre unidades regionais, visando otimizar os serviços da Administração de acordo com as vagas ofertadas no item 4 deste edital.
                    </p>
                </div>
                
            </div>
               <a href="{{ url_for('login') }}"><button class="button-2"> voltar</button></a>
        </div>
    </section>

</body>
</html>
