<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semente Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-1">

    <section class="Dw-container">
        <div class="box">
            

            <h1>TRANSPARÊNCIA<br>PÚBLICA</h1>

            <div class="btn-area">
                <a href="{{ url_for('licitacao') }}" class="btn">Licitações</a>
                <a href="{{ url_for('governaca') }}" class="btn">Governança</a>
            </div>
        </div>
        
    </section>
          
</html>
